{'provide', 'title', 'About', '<h1>', '</h1>', 'href="https://railstutorial.jp/"', 'Ruby', 'Rails', 'Tutorial', '</a>', 'href="https://railstutorial.jp/#ebook"', 'book', 'href="https://railstutorial.jp/#screencast"', 'screencast', 'teach', 'development', 'with', 'href="http://rubyonrails.org/"', 'This', 'sample', 'application', 'tutorial', '</p>'}
