{'real_estate', 'whether_remind', 'true', 'deadline_remind_items', 'get_deadline_remind_items', '<table>', 'each', '<tr>', '<th ', 'scope="row"', 'Deadline', 'Remind:', '</th>', '<td>', '</td>', 'link_to', 'Jump', 'edit_real_estate_path', 'anchor:', '</tr>', '</table>'}
