{'<h1>', 'Events', 'index', '</h1>', 'Find', 'views', 'events', 'html', '</p>', '<script ', 'http:', 'fullcalendar', 'fullcalendar-2', 'moment', '</script>', 'jquery', 'src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"', '<div ', 'id="calendar"', '</div>'}
