{'<h2>', 'Resend', 'unlock', 'instructions', '</h2>', 'form_for', 'resource', 'resource_name', 'url:', 'unlock_path', 'html:', 'method:', 'post', 'devise_error_messages', '<div ', 'class="field"', 'label', 'email', '<br />', 'email_field', 'autofocus:', 'true', 'autocomplete:', '</div>', 'class="actions"', 'submit', 'render', 'devise', 'shared', 'links'}
