{'id="notice"', 'notice', '</p>', '<strong>', 'Name:', '</strong>', 'nem_sample', 'name', 'Address:', 'address', 'amount:', 'tx_amount', 'Message:', 'message', 'link_to', 'Edit', 'edit_nem_sample_path', 'Back', 'nem_samples_path'}
