{'<h3>', 'Search', '</h3>', 'form_tag', 'search_result_page_path', 'method:', '<label>', 'Real', 'Estate', 'Name', '</label>', 'text_field', 'search', 'name', 'value:', 'params', 'collection_select', 'pic_id', 'User', 'username', 'selected:', 'include_blank', 'true', 'submit_tag'}
