{'user', 'errors', '<div ', 'id="error_explanation"', 'class="alert alert-danger"', 'form', 'contains', 'pluralize', 'count', 'error', '</div>', '<ul>', 'full_messages', 'each', '<li>', '</li>', '</ul>'}
