{'DOCTYPE', 'html', '<html>', '<head>', '<title>', 'Faucet', '</title>', 'csrf_meta_tags', 'csp_meta_tag', 'stylesheet_link_tag', 'application', 'media:', 'data-turbolinks-track', 'reload', 'javascript_include_tag', '</head>', '<body>', 'yield', '</body>', '</html>'}
