{'<footer ', 'class="footer"', '<small>', 'href="https://railstutorial.jp/"', 'Ruby', 'Rails', 'Tutorial', '</a>', 'href="http://www.michaelhartl.com/"', 'Michael', 'Hartl', '</small>', '<nav>', '<ul>', '<li>', 'link_to', 'About', 'about_path', '</li>', 'Contact', 'contact_path', 'href="http://news.railstutorial.org/"', 'News', '</ul>', '</nav>', '</footer>'}
