{'<div ', 'class="center jumbotron"', '<h1>', 'Welcome', 'Sample', '</h1>', '<h2>', 'This', 'home', 'page', 'href="https://railstutorial.jp/"', 'Ruby', 'Rails', 'Tutorial', '</a>', 'sample', 'application', '</h2>', 'link_to', 'Sign', 'signup_path', 'class:', 'btn-lg', 'btn-primary', '</div>', 'image_tag', 'rails', 'alt:', 'logo', 'http:', 'rubyonrails', 'kitten'}
