{'provide', 'title', 'Help', '<h1>', '</h1>', 'help', 'Ruby', 'Rails', 'Tutorial', 'href="https://railstutorial.jp/help"', 'page', '</a>', 'this', 'sample', 'href="https://railstutorial.jp/#ebook"', '<em>', '</em>', 'book', '</p>'}
